.MoneySendPage {
    a {
        position: absolute;

        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        z-index: 99;

        p {
            line-height: 3rem;
            color: black;
        }
    }
}